@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
background-color: rgb(0, 0, 0);
font-family: 'Roboto', sans-serif;
font-size: 21px;
color: whitesmoke;
}

h1, h2, h3, h4, h6, p {
    text-align: center; 
}

li, ul{
    text-align: left ;
}

ul, li, h1, h3, h4, h5, h6{
    color:darkred;
}

h2,p{
    color: whitesmoke;
}

#bild1{
    display: block;
    margin-left: 525px;  
}





table{
    border-collapse: collapse;
}

tr, td{ 
    padding: 5px ;
    border: 10px solid;
    width: 5%;
    border-width: 1px;
    border-color: Darkred;
    text-align: Center;
}